<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% block css %}{% endblock %}

        {% block metatags %}
            <!-- Primary Meta Tags -->
            <title>Comunicallum - Agencia de Marketing Digital para tu negocio.</title>
            <meta name="title" content="Comunicallum - Agencia de Marketing Digital para tu negocio.">
            <meta name="description" content="Comunicallum es una agencia de marketing digital dedicada al aumento de alcance, optimización y propio manejo de la información en los negocios Mexicanos.">

            <!-- Open Graph / Facebook -->
            <meta property="og:type" content="website">
            <meta property="og:url" content="">
            <meta property="og:title" content="">
            <meta property="og:description" content="">
            <meta property="og:image" content="">

            <!-- Twitter -->
            <meta property="twitter:card" content="summary_large_image">
            <meta property="twitter:site" content="">
            <meta property="twitter:creator" content="">
            <meta property="twitter:title" content="">
            <meta property="twitter:description" content="">
            <meta property="twitter:image" content="">
        {% endblock %}
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}"/>
        <!-- Apple icons -->
        <link rel="apple-touch-icon" href="{% static 'core/img/apple-touch-icon.png' %}" />
        <!-- Material Bootstrap stylesheet -->
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}" type="text/css" media="screen"/>
        <!-- Custom stylesheet for this page -->
        <link rel="stylesheet" href="{% static 'core/css/base.css' %}" type="text/css" media="screen"/>
        <!-- VisualFX CSS for animations -->
        <link rel="stylesheet" href="{% static 'core/css/visualfx.css' %}" type="text/css" media="screen"/>
        <!-- Bootstrap icons-->
        <link rel="stylesheet" href="{% static 'core/css/bootstrap-icons.css' %}" type="text/css" media="screen"/>
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap" rel="stylesheet">
        <!-- Mobile Web App attributes -->
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#0D0D0D" />
        <meta name="application-name" content="UpVent Technologies">
        <meta name="apple-mobile-web-app-title" content="UpVent Technologies">
        <meta name="apple-mobile-web-app-status-bar-style" content="blue">
    </head>
    <body>
        <header class="p-1 d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-light text-decoration-none">
                <img class="bi mx-auto"  width="200" height="60" src="{% static 'core/img/logo-text.svg' %}" alt="Comunicallum Logo">
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Agencia</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">Servicios</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">Blog</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">Portafolio</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">Contacto</a></li>
            </ul>

            <div class="col-md-3 p-1 text-end">
                <button type="button" class="btn btn-lg btn-primary shadow-sm">Comprar <i class="bi bi-envelope"></i></button>
            </div>
        </header>
        {% block body %}
        {% endblock %}
        {% include 'core/footer.html' %}
        <!-- Bootstrap 5 script -->
        <script async defer type="text/javascript" src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
        <!-- schema.org basic script -->
        <script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","name":"Comunicallum","url":"https://comunicallum.com","address":"Irapuato, Guanajuato","sameAs":["https://facebook.com/Comunicallum","https://www.instagram.com/comunicallum/"]}</script>
        <!-- custom scripts -->
        {% block js %}
        {% endblock %}
    </body>
</html>
