{% extends 'core/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
{% endblock %}
{% block metatags %}
            <!-- Primary Meta Tags -->
            <title>Comunicallum - Agencia de Marketing Digital para tu negocio.</title>
            <meta name="title" content="Comunicallum - Agencia de Marketing Digital para tu negocio.">
            <meta name="description" content="Comunicallum es una agencia de marketing digital dedicada al aumento de alcance, optimización y propio manejo de la información en los negocios Mexicanos.">

            <!-- Open Graph / Facebook -->
            <meta property="og:type" content="website">
            <meta property="og:url" content="">
            <meta property="og:title" content="">
            <meta property="og:description" content="">
            <meta property="og:image" content="">

            <!-- Twitter -->
            <meta property="twitter:card" content="summary_large_image">
            <meta property="twitter:site" content="">
            <meta property="twitter:creator" content="">
            <meta property="twitter:title" content="">
            <meta property="twitter:description" content="">
            <meta property="twitter:image" content="">
{% endblock %}
{% block body %}
<section class="py-5 text-center mt-5 mb-5">
      <img class="d-block mx-auto mb-4" src="{% static 'core/img/logo-web.png' %}" alt="Logo de Comunicallum" width="100" height="100">
      <h2>Galería</h2>
      <p class="lead">Conoce nuestro trabajo. El talento de los miembros de Comunicallum reunido en una poderosa galería de imágenes.</p>
</section>

<section class="container mt-5 mb-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for image in images %}
            <div class="col">
                <div class="card shadow-sm">
                    <a href="{{image.image.url}}" class="glightbox">
                        <img class="card-img-top rounded-3 shadow p-1 border-1" height="202" width="360" src="{{image.image.url}}" alt="" />
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
{% block js %}
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script async defer type="text/javascript" src="{% static 'core/js/initlight.js' %}"></script>
{% endblock %}
