{% extends 'core/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}" type="text/css" media="screen" />
{% endblock %}
{% block metatags %}
    <!-- Primary Meta Tags -->
    <title>Comunicallum - El Blog Oficial de Comunicallum.</title>
    <meta name="title" content="Comunicallum - El Blog Oficial de Comunicallum.">
    <meta name="description" content="El blog oficial de Comunicallum. Aquí podras encontrar artículos de marketing con todo tipo de datos interesantes para mantenerte siempre informado.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://upvent.codes/blog">
    <meta property="og:title" content="Comunicallum - El Blog Oficial de Comunicallum.">
    <meta property="og:description" content="El blog oficial de Comunicallum. Aquí podras encontrar artículos de marketing con todo tipo de datos interesantes para mantenerte siempre informado.">
    <meta property="og:image" content="https://upvent.codes/static/core/img/blog.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@UpVentMX">
    <meta property="twitter:creator" content="@UpVentMX">
    <meta property="twitter:title" content="Comunicallum - El Blog Oficial de Comunicallum.">
    <meta property="twitter:description" content="El blog oficial de Comunicallum. Aquí podras encontrar artículos de marketing con todo tipo de datos interesantes para mantenerte siempre informado.">
    <meta property="twitter:image" content="https://upvent.codes/static/core/img/blog.png">
{% endblock %}

{% block body %}
<section class="py-5 text-center container jumbotron">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
          <h1>Nuestro trabajo</h1>
          <h2 class="fw-light">Casos de éxito</h2>
      </div>
    </div>
</section>

<section class="album py-5 bg-light">
    <div class="container">
          <p class="lead">Comunicallum cuenta con todos los servicios que tu y tú negocio necesitan. En nuestro trabajo ponemos desempeño, dedicación y calidad. Aquí encontrarás todos nuestros proyectos desde restaurantes, desarrollo de marca, marketing en redes sociales o la creación y mejora de paginas web corporativas. El éxito de nuestros clientes está por encima de todo.
          </p>
    </div>
    <hr />
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for project in projects %}
            <div class="col">
                <div class="card shadow-sm">
                    <img height="202" width="360" class="card-img-top" src="{{project.image.url}}" alt="" />
                    <div class="card-body">
                        <p class="h5 card-title">{{project.name}}</p>
                        <hr />
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            {% endfor %}
      </div>
    </div>
</section>
{% endblock %}

{% block js %}
{% endblock %}
